/**
* Homepage
*/
$titleFont : "Poppins",sans-serif;
$main-Bg: #0C0B0B;
$orange: #FF7700;
$black:#0C0B0B;
$greyish: #CFCFCF;;

.first_section{
    padding: 1rem;
}
.first__Article{

    p:nth-child(odd){
        font-weight: 700;
        color: white;
        line-height: 24px;
    }
    h2{
        font-weight:800;
        font-size: 2.02rem;
        color: $orange;
        line-height: 130%;
    }
    h3{
        color: $greyish;
        font-weight: 600;
        line-height: 21px;
    }
    p:nth-child(even){
        color: $greyish;
        font-weight: 400;
        line-height: 180.3%;
    }
    .button_1{
        background-color:$orange;
        font-weight: 700;
        font-size: 0.875rem;
        padding:  15px 40px;
        text-transform: uppercase;
    }
    .button_2{
        font-weight: 400;
        font-size: 0.875rem;
        text-transform: uppercase;
    }

}
